/* base.cssに適用 */
@charset "UTF-8";

/* reset.css
=========================== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

header,footer,nav,section,article,main,
aside,figure,figcaption {
  display: block;
}

ul, ol {
  list-style:none;
}

img {
  border: none;
  vertical-align: bottom;
}

a,button,label {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  background: transparent;
  cursor: pointer;
  font: inherit;
}

a {
	display: block;
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

input, select {
    vertical-align:middle;
}

/* 共通パーツ
=========================== */
html {
  font-size: 62.5%; /*  1rem = 10px  */
  scroll-behavior: smooth;
}

:root {
  /* 色 */
  --color-primary: #464646;
  --color-secondary: #666666;
  --color-link: #0070f3;

	/* バックグランドカラー */
	--bg-primary: #EEE9E9;
	--bg--secondary:#D8C3C3;
	--bg--info:#FAFAFA;
	--bg--info2:#DEE4ED;

  /* フォント */
  --ff-base:  'Noto Sans JP', 'Inter', sans-serif;
  --ff-en:  "Alata", "Fuzzy Bubbles" , sans-serif;
	--ff-label: 'Inter', sans-serif;

  /* フォントサイズ */
	--fz-sm:14px;
  --fz-base: 16px;
  --fz-ttl: 40px;
}

body {
	font-size: var(--fz-base);
	font-family: var(--ff-base);
	font-weight: 400;
	line-height: normal;
	letter-spacing: .1em;
	background: transparent;
	color: var(--color-primary);
	-webkit-font-smoothing: antialiased;
}

.page-inner {
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
}

.content-inner {
	padding: 0 24px;
}

.c-btn {
	display: inline-block;
	background: var(--color-primary);
	padding: 16px 72px;
	border: 1px solid var(--color-primary);
	border-radius: 60px;
	text-align: center;
	color: #fff;
	line-height: 1;
}

.c-btn__footer {
	display: inline-block;
	background: var(--color-primary);
	padding: 16px 112px;
	border: 1px solid var(--color-primary);
	border-radius: 60px;
	text-align: center;
	color: #fff;
	line-height: 1;
}

.c-btn__add {
	display: inline-block;
	background: var(--bg--secondary);
	padding: 16px 72px;
	border: 1px solid var(--bg--secondary);
	border-radius: 60px;
	text-align: center;
	color: #fff;
	line-height: 1;
}

.c-ttlArea {
	display: inline-block;
}

.c-title {
	font-family: "Alata";
	font-size: 40px;
	letter-spacing: .2em;
	width: 100%;
}

.c-subTitle {
	text-align: center;
	font-size: 14px;
	position: relative;
}

.c-subTitle::after {
	content: "";
	position: absolute;
	background: var(--color-primary);
	width: 80px;
	height: 1px;
	bottom: -20px;
	left: 50%;
	transform: translateX(-50%);
}

.c-text {
	line-height: 2.5;
	letter-spacing: .1em;
}

.option-tag {
	margin-right: 5px;
	display: inline;
	font-family: var(--ff-label);
	font-size: 12px;
	color: #fff;
	line-height: 1;
	letter-spacing: 0;
	background: #FEAC61;
}

.option-tag__pink {
	margin-right: 5px;
	display: inline;
	font-family: var(--ff-label);
	font-size: 12px;
	color: #fff;
	line-height: 1;
	letter-spacing: 0;
	background: #FF9090;
}

.label-type {
	content: "";
	position: absolute;
	font-family: var(--ff-label);
	background: #44BFCF;
	color: #fff;
	font-size: 12px;
	line-height: 1;
	letter-spacing: 0;
	padding: 1px 5px;
	top: 0;
	right: 0;
}

.label-typeC {
	content: "";
	position: absolute;
	font-family: var(--ff-label);
	background: #93CC4B;
	color: #fff;
	font-size: 12px;
	line-height: 1;
	letter-spacing: 0;
	padding: 1px 5px;
	top: 0;
	right: 0;
}

.breadcrumbs-area {
	margin-top: 10px;
	width: 100%;
}

.breadcrumb-wrap {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	gap: 1px;
}

.breadcrumb-page {
  font-size: 14px;
}

.breadcrumb-page + .breadcrumb-page::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background: url("../assets/arrow-down.png") no-repeat center;
  background-size: contain;
  transform: rotate(-90deg);
  margin: 0 10px;
  vertical-align: middle;
}


/* 商品
=========================== */
.list-img {
	width: 100%;
	max-width: 304px;
	height: auto;
}

.product-name,
.product-price {
	font-family: var(--ff-label);
	color: #1D1D1D ;
}

.product-price {
	margin-top: 5px;
}

/* Header
=========================== */
.header {
	width: 100%;
}

.header-area {
	display: flex;
	width: 100%;
	max-width: 1920px;
	height: 130px;
	justify-content: space-between;
}

.header-inner {
	width: 100%;
	margin-top: 6px;
}

.header-cart {
	width: 130px;
	height: auto;
}

.header-upper {
	height: 50px;
	padding: 0 34px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-upper__title {
	font-size: 14px;
}

.header-upper__menuArea {
	display: flex;
	align-items: center;
	gap: 36px;
}

.header-lower {
	border-top: .5px solid var(--color-primary);
	padding: 10px 34px 0;
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.header-lower__logo {
	width: 92px;
	height: auto;
}

.header-lower__subttl {
	margin-top: 8px;
	font-size: 10px;
	font-family: var(--ff-en);
}

.header-lower__navArea {
	display: flex;
	gap: 20px;
}

.header-lower__menuArea {
	display: flex;
	gap: 26px;
}

.header-lower__manu2Area {
	display: flex;
	gap: 20px;
}

.header-lower__search {
	width: 24px;
}

.header-lower__smile {
	width: 25px;
}

.header-lower__heart {
	width: 25px;
}

.drawer-icon {
	display: none;
}

/* Footer
=========================== */
.footer-inner {
	width: 100%;
}

.footer-up {
	margin: 0 auto;
	padding: 40px 24px 64px;
	width: 100%;
	max-width: 1088px;
}

.footer-logo {
	width: 100%;
	max-width: 190px;
	height: auto;
}

.footer-sub {
	font-family: var(--ff-en);
	font-size: 20px;
	letter-spacing: .3em;
}

.footer-up__wrap {
	margin-top: 40px;
	display: flex;
	align-items: start;
	justify-content: space-between;
	line-height: 2.5;
}

.footer-content__text {
	margin-top: 28px;
	text-align: center;
}

.footer-low {
	background: var(--color-primary);
	color: #fff;
	margin: 0 auto;
	width: 100%;
	padding: 25px 24px 37px;
	font-size: 12px;
	letter-spacing: 0;
}

.footer-low__wrap {
	display: flex;
	gap: 50px;
	align-items: center;
	justify-content: center;
}

.footer-low__content {
	font-family: var(--ff-label);
}

.footer-low__snsArea {
	margin: 30px auto 0;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 32px;
}

.footer-sns {
	display: block;
}

.footer-copyright {
	margin-top: 30px;
	text-align: center;
}

/* fvセクション
=========================== */
.fv {
	margin: 0 auto;
	width: 100%;
}

.fv-area {
	position: relative;
	overflow: hidden;
}

.fv-img {
	width: 100%;
	max-width: 1920px;
	height: auto;
	object-fit: cover;
	object-position: center;
}

.fv-txtArea {
	content: "";
	position: absolute;
	top: 25%;
	left: 20%;
}

.fv-logoArea {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.fv-logo {
	width: 100%;
	max-width: 274px;
	height: auto;
}

.fv-logo2 {
	width: 100%;
	max-width: 187px;
	height: auto;
}

.fv-logo3 {
	width: 100%;
	max-width: 123px;
	height: auto;
}

.fv-text {
	margin-top: 26px;
	line-height: 2;
	text-align: center;
}

.fv-btnArea {
	margin-top: 38px;
}

/*  movie
=========================== */
.movie {
	width: 100%;
	margin-top: 160px;
}

.movie-videoArea {
	margin: 0 auto;
	width: 100%;
	max-width: 1000px;
}

.movie-video {
	width: 100%;
	height: auto;
	aspect-ratio: 2;
}

/* aboutセクション
=========================== */
.about {
	width: 100%;
	margin: 160px auto 0;
	position: relative;
	overflow: hidden;
}

.about::before,
.about::after {
	content: "";
	position: absolute;
	width: 293px;
	height: 265px;
	border-radius: 14px;
	z-index: -2;
}

.about::before {
	top: 0;
	left: -14px;
	background: var(--bg-primary)
}

.about::after {
	bottom: 0;
	right: 260px;
	background: var(--bg--secondary);
}

.about-contents {
	width: 100%;
	margin: 0 auto;
	padding-top: 137px;
	display: flex;
	align-items: start;
	justify-content: center;
	gap: 70px;
}

.about-imgArea {
	width: 50%;
	text-align: right;
}

.about-img {
	width: 100%;
	max-width: 746px;
	height: auto;
}

.about-txtArea {
	width: 50%;
	margin-top: 36px;
}

.about-text {
	margin-top: 70px;
	max-width: 400px;
}

.about-btnArea {
	margin-top: 65px;
}

.about-bg {
	display: block !important;
	content: "";
	position: absolute;
	background: url(../assets/about-img2.png)no-repeat center center / contain ;
	top: 6px;
	right: -100px;
	width: 460px;
	height: 448px;
	z-index: -1;
}

/* brandセクション
=========================== */
.brand {
	margin: 120px auto 0;
	width: 100%;
	max-width: 1920px;
	background: url(../assets/brand-img.png),var(--bg-primary);
	background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
	padding: 100px 0;
}

.brand-contents {
	width: 100%;
	display: flex;
	align-items: start;
	justify-content: center;
	gap: 54px;
}

.brand-btnArea {
	margin-top: 72px;
	text-align: right;
}

/* rankingセクション
=========================== */
.ranking {
	width: 100%;
	margin-top: 160px;
}

.ranking-ttlArea {
	text-align: center;
}

.ranking-items {
	margin: 100px auto 0;
	width: 100%;
	max-width: 1420px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(304px, auto));
	justify-content: center;
	gap: 53px;
}

.ranking-item {
	position: relative;
}

.label-ranking {
	content: "";
	position: absolute;
	top: -35px;
	left: -37px;
	width: 74px;
	height: 70px;
}

.star-label {
	width: 100%;
	max-width: 74px;
	height: auto;
}

.label-number {
	position: absolute;
	font-size: 38px;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	line-height: 1;
	color: #fff;
	text-align: center;
}

.ranking-textArea {
	margin-top: 14px;
	padding-left: 20px;
}

.ranking-btnArea {
	margin-top: 80px;
	text-align: center;
}

/*  new-itemセクション
=========================== */
.new {
	margin: 160px auto 0;
	background: var(--bg--info);
	padding: 70px 0;
	width: 100%;
}

.new-ttlArea {
	text-align: center;
}

.new-items {
	margin: 80px auto 0;
	width: 100%;
	max-width: 1470px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(304px, auto));
	justify-content: center;
	gap: 53px;
	position: relative;
}

.new-items::before,
.new-items::after  {
	content: "";
	position: absolute;
	width: 22px;
	height: 40px;
	top: 50%;
	transform: translateY(-50%);
}

.new-items::before {
	background: url(/assets/arrow-left.png)no-repeat center center /contain;
	left: 0px;
}

.new-items::after {
	background: url(/assets/arrow-right.png)no-repeat center center /contain;
	right: 0px;
}

.new-btnArea {
	margin-top: 80px;
	text-align: center;
}

/* categoryセクション
=========================== */
.category {
	width: 100%;
	margin-top: 160px;
}

.new-ttlArea {
	text-align: center;
}

.category-contents {
	margin: 80px auto 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	justify-content: center;
	gap: 15px;
}

.category-content {
	position: relative;
}

.content-img {
	width: 100%;
	max-width: 620px;
	height: auto;
}

.category-name {
	content: "";
	position: absolute;
	background: #fff;
	color: #1D1D1D;
	font-size: 24px;
	line-height: 1;
	letter-spacing: 0;
	padding: 10px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	white-space: nowrap;
}

/* Blogセクション
=========================== */
.blog-top {
	width: 100%;
	margin-top: 160px;
}

.blog-ttlArea {
	text-align: center;
}

.blog-contents {
	margin: 80px auto 0;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(304px, auto));
	align-items: center;
	justify-content: center;
	gap: 30px 70px;
}

.blog-content {
	position: relative;
}

.blog-img {
	width: 100%;
	max-width: 304px;
	height: auto;
}

.blog-excerpt {
	margin: 16px auto 0;
	width: 100%;
	max-width: 290px;
	line-height: 1.5;
	letter-spacing: 0;
	color: #1D1D1D;
}

.blog-ttl {
	color: #1D1D1D;
	line-height: 1.5;
	letter-spacing: 0;
	font-size: 20px;
}

.blog-btnArea {
	margin-top: 80px;
	text-align: center;
}

.custom-readmore {
	text-align: left;
}

.custom-readmore a {
	color: #007acc;
  text-decoration: underline;
  display: inline-block;
}

.blog-page__ttl {
	color: #1D1D1D;
	line-height: 1.5;
	letter-spacing: 0;
	font-size: 24px;
	font-weight: bold;
}

.blog-page__txt {
		line-height: 2.5;
	letter-spacing: 0;
	color: #1D1D1D;
}

/* infoセクション
=========================== */
.info {
	width: 100%;
	max-width: 1920px;
	margin: 160px auto 0;
	background: var(--bg--info);
	padding: 36px 0 67px !important;
}

.info-ttlArea {
	text-align: center;
}

.info-contents {
	margin: 80px auto 0;
	display: block !important;
	flex-direction: column;
}

.info-content {
	background: var(--bg--info2);
	padding: 39px 24px;
}

.info-contentEven {
	background: var(--bg--info);
	padding: 39px 24px;
}

.info-article {
	margin: 0 auto;
	width: 100%;
	max-width: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 70px;
}

.info-date {
	line-height: 1;
	width: 180px;
	text-align-last: left;
}

.info-title {
	line-height: 1;
	flex: 1;
	text-align-last: left;
}

.info-btnArea {
	margin-top: 80px;
	text-align: center;
}

.info-page {
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	background: var(--bg--info);
	padding: 36px 0 67px !important;
}

/* instaセクション
=========================== */
.insta {
	width: 100%;
	margin-top: 160px;
}

.insta-ttlArea {
	text-align: center;
}

.insta-contents {
	margin: 80px auto 0;
	width: 100%;
	max-width: 1100px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(180px, auto));
	gap: 25px;
	align-items: center;
	justify-content: center;
}

.insta-content {
	width: 100%;
}

.insta-img {
	width: 100%;
	max-width: 180px;
	height: auto;
}

/* registerセクション
=========================== */
.register {
	width: 100%;
	margin-top: 160px;
	padding: 80px 0;
	background: url(../assets/banner-img.png)no-repeat center center /cover;
}

.register-ttlArea {
	text-align: center;
}

.register-contents {
	margin: 46px auto 0;
	text-align: center;
}

.register-btnArea {
	margin-top: 30px;
	text-align: center;
}

/* faqセクション
=========================== */
.faq {
  margin: 72px auto 0;
  width: 100%;
  max-width: 720px;
}

.faq-contents {
  margin-top: 32px;
}

.faq-title {
  margin-top: 24px;
  width: 100%;
  background: #292929;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  padding: 14px 24px;
  border-radius: 8px 8px 0 0;
}

.faq-content {
  margin-top: 72px;
}

.faq-content:first-of-type {
  margin-top: 0;
}

.faq-accordionArea {
  width: 100%;
}

.accordion-q {
  background: #DCD7CF;
  padding: 14px 24px 14px 57px;
  font-size: 14px;
  line-height: 2;
  border-bottom: 1px solid #959595;
  position: relative;
	cursor: pointer;
}

.accordion-q:first-of-type {
  border-top: 1px solid #959595;
}

.accordion-q::before {
  content: "";
  position: absolute;
  background: url(../assets/icon-q.png) no-repeat center center /contain;
  width: 17px;
  height: 24px;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
}

.accordion-q::after {
  content: "";
  position: absolute;
  background: url(../assets/arrow-down.png)no-repeat center center /contain;
  width: 8px;
  height: 8px;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
	transition: transform 0.3s ease;
}

.accordion-a {
	max-height: 0;
	overflow: hidden;
  background: #EDE8E2;
  padding: 0px 24px 0px 57px;
  font-size: 14px;
  line-height: 2;
  border-bottom: 1px solid #959595;
  position: relative;
	transition: max-height 0.5s ease, padding 0.3s ease;;
}

.accordion-a::before {
  content: "";
  position: absolute;
  background: url(../assets/icon-a.png)no-repeat center center /contain;
  width: 17px;
  height: 24px;
  top: 25%;
  left: 16px;
}

.accordion-q.active::after {
  transform: translateY(-50%) rotate(180deg);
